#info_en{
  font-size: 16px;
	text-align: right;
}
.t1{
	color: #000000;
}
.t2{
	background-color: #525200;
}
.t3{
	color: #525200;
}
p {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5;
}
